@{
    ViewBag.Title = "RwinaForum";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Mounir Azaouagh.<br />
    Email: m-azaouagh@hotmail.com<br />
    <abbr title="Phone">Tel:</abbr>
    0612345678
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:M-azaouagh@hotmail.com">M-azaouagh@hotmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:m-azaouagh@hotmail.com">M-azaouagh@hotmail.com</a>
</address>