@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET C# visual studio rwinaa</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Categorieen</h2>
        <p>
            Muziek
        </p>
        <p><a class="btn btn-default" href="http://www.google.com">Rwina &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>test</h2>
        <p>hoe maak je het!</p>
        <p><a class="btn btn-default" href="http://www.google.com">Rwina &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>website</h2>
        <p>Forum games</p>
        <p><a class="btn btn-default" href="http://www.google.com">Rwina &raquo;</a></p>
    </div>
</div>
